{%extends 'layouts/base.html'%}

{%block content%}
    <h1>Portafolio</h1>
    <div class="fotos">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
        <img src="https://picsum.photos/id/26/300/200" alt="">
    </div>
{%endblock%}