{%extends 'layouts/base.html'%}

{%block title%} Crear Mascota {%endblock%}

{%block content%}
<div class="formulario">
    <h1>Crear Mascota</h1>
    <span class="aux-btns-form">
        <a href="{%url 'mascota' %}">Volver Atras</a>
    </span>
    <form action="{% url 'crearMascota' %}" class="div-formulario" method="POST">
        {%csrf_token%}
        {{form.as_div}}
        <div>
            <input type="submit" value="Guardar" class="btn-guardar">
        </div>
    </form>
</div>
{%endblock%}