{%extends 'layouts/base.html'%}

{%block title%} Mascotas{%endblock%}

{%block content%}
<div class="container formulario">
    <h1>Mascotas</h1>
    <br />
    <form action="{%url 'mascota'%}" class="search" method="GET">
        <input type="text" name="search" placeholder="Buscar mascota" class="barra-busqueda">
        <input type="submit" value="Buscar" class="btn buscar">
    </form>
    <br />

    <span class="aux-btns">
        <a href="{%url 'mascota'%}">Ver todos</a>
        <a href="{%url 'crearMascota' %}">Añadir</a>
    </span>
</div>
<div class="container mt-3 tarjetas-mascotas">
    <div class="row">
        {%for mascota in mascotas %}
        <div class="col-auto">
            <div class="card" style="width:250px; height: 400px;">
                {%if mascota.imagen%}
                <img class="card-img-top" src="{{mascota.imagen.url}}" alt="Card image"
                    style="width:100%; height: 300px;">
                {%endif%}
                <div class="card-body">
                    <h6 class="card-title"><b>Nombre:</b> {{mascota.nombre}}</h6>
                    <span class="">
                        <a href="{% url 'view' id=mascota.id%}" class="btn btn-ver ">Ver</a>
                        <a href="{%url 'editarMascota' id=mascota.id %}" class="btn btn-editar">Editar</a>
                        <a href="{%url 'eliminarMascota' id=mascota.id %}" class="btn btn-borrar">Borrar</a>
                    </span>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>


{%endblock%}